{
    "email": {
        "host": "imap.your-domain.edu",
        "port": 389,
        "user": "emailuser",
        "password": "p@ssw0rd"
    },
    "database": {
        "host": "localhost",
        "user": "isnccmailup",
        "passwd": "isnccmailup",
        "db": "isnccmailup"
    }
}