{
    "application": {
        "port": 5000,
        "debug": false,
        "levels": {
            "good": 99.9,
            "warning": 97.5,
            "bad": 0
        }
    },
    "email": {
        "host": "imap.your-domain.edu",
        "port": 389,
        "user": "emailuser",
        "password": "p@ssw0rd"
    },
    "database": {
        "host": "localhost",
        "user": "isnccmailup",
        "passwd": "isnccmailup",
        "db": "isnccmailup"
    }
}