<!DOCTYPE html>
<html lang="en">
<head>
    <title>Is NCC Mail Up?</title>
</head>
    <body>
        <section>
            <div id="mail">
                <div id="status">
                    <h1>
                        {% if is_mail_up %}
                        <em>Yes.</em> NCC email is working fine.
                        {% else %}
                        <em>NCC Mail</em> appears to be down for us, too :(
                        {% endif %}
                    </h1>
                </div>
                <div id="uptime">
                    <p>NCC email has been up (working) {{ mail_uptime }}% of the time in the past 30 days.</p>
                </div>
            </div>
            <div id="site">
                <p>
                    {% if is_main_site_up %}
                    For comparison, NCC's main site (http://northcentralcollege.edu) is currently accessible and has an uptime of {{ main_site_uptime }}% during the same time period.
                    {% else %}
                    For comparison, NCC's main site (http://northcentralcollege.edu) is currently inaccessible and has an uptime of {{ main_site_uptime }}% during the same time period.
                    {% endif %}
                </p>

            </div>
        </section>
        <footer>
            <p>This website was created by Michael Holler, inspired by a Python script written by Jeff Petrick, and styled by Deepayan Bose.</p>
        </footer>
    </body>
</html>